@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
}

header{
    background-image: linear-gradient(#3CD983, #195B38 70%);
    width: 100%;
    height: 230px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 3px 3px 3px #193b2e71;
}

body{
    margin: 0;
    background-color: #E9E6C3;
}

nav{
    text-align: bottom ;
    margin: auto;
}

main{
    background-color: white;
    box-shadow: 3px 3px 3px #193b2e71;
    margin: auto;
    margin: 0px 110px;
    border-radius: 0px 0px 5px 5px;
}

picture{
    display: flex;
    justify-content: center;
}

iframe{
    background-color: #193B2E;
    padding: 40px 80px;
}

footer{
    background-color:#193B2E;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0;
    width: 1070;
}


h1.principal{
    text-align: center;
    color: white;
    margin-top: 0;
    font-size: 2em;
    padding-top: 40px;
    text-decoration: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titulop{
    color: #193B2E;
    padding-left: 30px;
    margin-top: 0;
    font-family: 'idroid', arial, sans-serif;

}

.titulo{
    color: #193B2E;
    padding-left: 30px;
    margin-top: 0;
    font-family: 'idroid', arial, sans-serif;
    background-image: linear-gradient(45deg ,#2ba25e81 50%, white ); 
    padding-left: 10px; 
    margin: 20px;
}


p#menu1{
    color: white;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 60px;
}

p.conteudo{
    color: black;
    text-align: justify;
    text-indent: 35px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



a.menu{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

a.menu:hover{
    background-color: #0c4d2a85;
    border-radius: 5px;
}

a.linkdetxt{
    color: #193B2E;
    background-color: #3CD983;
    text-decoration: none;
    padding-left: 5px ;
    padding-right: 5px;
}

a.linkdetxt:hover{
    text-decoration: underline;
}

.links{
    color: rgba(47, 47, 243, 0.747);
    text-decoration: none;
    background-color: white;
}

.links:hover{
    text-decoration: underline;
}

#extra{
    background-color: #193B2E;
    color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 5px 15px #004141ab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.pre-lista{
    color: black;
    background-color: #3CD983;
    text-align: justify;
    text-indent: 35px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    margin: 0 50px 0 50px;
}

#fim{
    border-radius: 0 0 5px 5px;
}

.lista{
    color: #193B2E;
}

